@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdeliver.net/gh/projectnoonnu/noonfonts_two@1.0/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
